<div class="existing_item">
    <form action="" method="">
        <input type="checkbox" name="isDone" <%= item.isDone ? "checked" : "" %> />
        <input type="text" name="title" value="<%= item.title %>" />
        <input type="text" name="description" value="<%= item.description %>" />
        <input type="hidden" name="id" value="<%= item.id %>" />
        <button class="update" type="button">Update</button>
        <button class="delete" type="button">Delete</button>
        <label><%= item.createdAt.toLocaleDateString('en-US', { day: "2-digit", month: "2-digit", year: "numeric" }) %></label>
    </form>
</div>